<%= render 'shared/turbo_modal', title: @base_template ? t('clone_template') : t('new_document_template') do %>
  <%= form_for @template, data: { turbo_frame: :_top }, html: { autocomplete: :off } do |f| %>
    <% if @base_template %>
      <%= hidden_field_tag :base_template_id, @base_template.id %>
    <% end %>
    <% if @base_template && (can?(:manage, :tenants) || true_user != current_user) && true_user.account.linked_accounts.active.accessible_by(current_ability).exists? %>
      <div class="form-control -mb-2 mt-2">
        <%= select_tag :account_id, options_for_select([true_user.account, *true_user.account.linked_accounts.active.accessible_by(current_ability)].uniq.map { |e| [e.name, e.id] }, current_account.id), required: true, class: 'base-select' %>
      </div>
    <% end %>
    <div class="form-control mt-6">
      <%= f.text_field :name, required: true, placeholder: t('document_name'), class: 'base-input', dir: 'auto' %>
    </div>
    <div></div>
    <div class="form-control">
      <%= f.button button_title(title: @base_template ? t('submit') : t('create'), disabled_with: t('creating')), class: 'base-button' %>
    </div>
  <% end %>
<% end %>
